* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 21px;
}

/*Page Header*/
header {
  display: grid;
  grid-template-rows: 1fr;
  background: #fff;
  border-radius: 0px 0px 1px 1px;
}

.top-header .logo {
  margin: 10px;
  padding: 2px 11px;
}

#active {
  color: #0f8be3;
}

/*Page Main*/
body {
  background-color: #222;
}

main {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 50px;
  padding: 10px;
  text-align: center;
}

.left-main {
  min-height: 680px;
  border: 1px solid #fff;
  border-radius: 3px;
}

.left-main li {
  list-style: none;
}

.left-main a {
  color: #fff;
}

.right-main {
  margin: 0px 0px 0px 50px;
  background-color: #292e33;
  border: 1px solid #fff;
  border-radius: 3px;
}

.right-main h1, h2 {
  color: #fff;
}

canvas {
  display: block;
  background: #222;
  border: 1px solid #ccc;
}

.drop-btn {
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.drop-content {
  display: none;
  z-index: 1;
}

.drop-content li {
  padding: 5px 0px;
}

.show {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: #545251;
}

.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
  transition: 0.35s;
}

.land:hover {
  fill: #79ff58;
}

#world-map {
  width: 1010px;
  height: 660px;
}

#australia-map {
  width: 443px;
  height: 415px;
}

#usa-map {
  width: 1100px;
  height: 758px;
}


g {
  width: auto;
  cursor: pointer;
}

/*Page Footer*/
footer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #ebe9e7;
  border-top: 1px solid #52adff;
}

.bottom-footer {
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px 0px;
  padding: 10px 0px;
}

/*Media Queries*/
@media only screen and (max-width: 320px) {
  .bottom-footer p {
    font-size: 13px;
  }
}
