* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 21px;
}

/*Page Header*/
header {
  display: grid;
  grid-template-rows: 1fr;
  background: #fff;
  border-radius: 0px 0px 1px 1px;
}

.top-header .logo {
  margin: 10px;
  padding: 2px 11px;
}

.bottom-header {
  background: #ebe9e7;
  border-bottom: 2px solid #0f8be3;
}

.bottom-header .navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5px 15px;
  padding: 25px 0px 0px 0px;
  width: 450px;
  float: right;
  text-align: center;
  list-style: none;
}

.bottom-header .navigation i {
  padding: 2px 12px;
}

#active {
  color: #0f8be3;
}

.bottom-header .navigation a {
  margin: auto 10px;
  padding: 8px 10px;
  color: #222;
  text-decoration: none;
  transition: 0.35s ease;
}

.bottom-header .navigation a:hover {
  color: #333;
}

/*Page Main*/
body {
  background-color: #222;
}

main {
  margin: 25px;
  padding: 10px;
  text-align: center;
}

.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:0.5;
  transition: 0.35s;
}

.land:hover {
  fill: #79ff58;
}

svg {
  width: 445px;
  height: 425px;
}


/*Page Footer*/

/*Media Queries*/
@media only screen and (max-width: 320px) {
  * {
    font-size: 16px;
  }

  .top-header, .bottom-header {
    width: auto;
  }

  .bottom-header .navigation {
    margin: 5px 0px;
  }

  .page-main img {
    max-width: 100%;
  }
}
