* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
  font-size: 21px;
  list-style: none;
}

/*Page Header*/
header {
  display: grid;
  grid-template-rows: 1fr;
  background: #ebe9e7;
}

.top-header .logo {
  margin: 10px;
  padding: 2px 11px;
}

#active {
  color: #0f8be3;
}

/*Page Main*/
body {
  background-color: #222;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  margin: 15px;
  min-height: 100%;
  text-align: center;
}

.land {
  fill: #344150;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.35s;
}

.land:hover {
  fill: #52adff;
}

.container {
  background-color: #fff;
}

.container h1 {
  margin: 15px 0px;
  color: #242d3a;
  font-size: 30px;
}

#chartdiv {
  width: 100%;
  height: 600px;
}

#australia-map {
  width: 443px;
  height: 415px;
}

#usa-map {
  width: 1100px;
  height: 758px;
}

path:hover {
  fill: #52adff;
}

.info-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #222;
  border-radius: 4px;
  width: 80%;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 2px 16px;
  background-color: #fff;
  color: #222;
}

.modal-header {
  background-color: #0f8be3;
}

.modal-content h1,
.modal-content p {
  color: #222;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*Page Footer*/
footer {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #ebe9e7;
}

.bottom-footer {
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px 0px;
  padding: 10px 0px;
}

.bottom-footer p {
  font-size: 16px;
}

.month {
  padding: 70px 25px;
  background: #52adff;
}

.month h1 {
  font-size: 19px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.prev {
  float: left;
}

.prev-month,
.next-month {
  cursor: pointer;
}

.next {
  float: right;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays ul li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days ul li {
  display: inline-block;
  margin: 0px 0px 13px 0px;
  padding: 13px 0px 0px 0px;
  width: 260px;
  height: 100px;
  border: 1px solid #222;
  list-style-type: none;
  font-size: 17px;
  color: #222;
}

.days ul li .active {
  padding: 5px;
  background: #52adff;
  color: white;
}

/*Media Queries [FIX ME]*/
/*Laptops (1024px)*/
@media (max-width: 1024px) and (min-width: 769px) {
  .top-header .logo {
    margin: 0px 10px;
    padding: 0px 2px;
  }

  main {
    margin: 5px;
    padding: 2px;
  }

  .container h1 {
    font-size: 22px;
  }

  .container p {
    font-size: 16px;
  }

  .bottom-footer p {
    font-size: 13px;
  }
}

/*Tablets (768px)*/
@media (max-width: 768px) and (min-width: 426px) {
  .top-header .logo {
    margin: 5px;
    padding: 0px 5px;
  }

  main {
    margin: 1px;
    padding: 1px;
  }

  .container {
    margin: 1px;
    max-width: 100%;
  }

  .container h1 {
    font-size: 22px;
  }

  .container p {
    font-size: 16px;
  }

  #chartdiv {
    height: 500px;
  }

  .bottom-footer p {
    font-size: 13px;
  }
}

/*Mobile (425px)*/
@media (max-width: 425px) and (min-width: 376px) {
  .top-header .logo {
    margin: 0px 92px;
    padding: 0px 7px;
  }

  main {
    margin: 1px;
    padding: 1px;
  }

  .container {
    margin: 1px;
    max-width: 100%;
  }

  .container h1 {
    font-size: 22px;
  }

  .container p {
    font-size: 16px;
  }

  #chartdiv {
    height: 300px;
  }

  .bottom-footer p {
    font-size: 12px;
  }
}

/*Mobile (375px)*/
@media (max-width: 375px) and (min-width: 320px) {
  .top-header .logo {
    margin: 0px 55px;
    padding: 0px 19px;
  }

  main {
    margin: 1px;
    padding: 1px;
  }

  .container h1 {
    font-size: 23px;
  }

  .container p {
    font-size: 17px;
  }

  #chartdiv {
    height: 275px;
  }

  .container {
    margin: 1px;
    max-width: 100%;
  }

  .bottom-footer p {
    font-size: 11px;
  }
}

/*Mobile (320px)*/
@media only screen and (max-width: 320px) {
  .top-header .logo {
    margin: 0px 36px;
    padding: 0px 11px;
  }

  main {
    margin: 1px;
    padding: 1px;
  }

  .container {
    margin: 1px;
    max-width: 315px;
  }

  .container h1 {
    font-size: 22px;
  }

  .container p {
    font-size: 16px;
  }

  #chartdiv {
    height: 250px;
  }

  .bottom-footer p {
    font-size: 10px;
  }
}
